h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Chakra Petch', sans-serif;
    font-variant: small-caps;
    display: block;
    background-image: linear-gradient(to bottom right,rgba(0,0,64,255),#0183c7);
    padding: 10px 0px;
    color: white;
    margin-top: 0;
}
 
#content {
    text-align: end;
    --background: url('../../assets/backcryp.jpg') 0 0/100% 100% no-repeat;
}

.loginform  {
    display: inline-block;
    padding: 50px 50px;
    text-align: start;
    margin-top: 100px;
    border-radius: 7px;
    background-color: white;
    opacity: 0.90;
    margin-right: 150px;
}

strong {
    font-size: 35px;
    font-family: 'Chakra Petch', sans-serif;  
    font-weight: bolder;
  }
  
input {
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    margin: 5px 0px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 7px;
    padding: 3px 3px;
    width: 100%;
}

input:focus {
    border: 2px solid black;
}

#submit {
    background-color: black;
    color: white;
    padding: 5px 5px;
  }
  
#submit:hover {
    background-color: rgb(31, 114, 239);
    color: white;
    border: 1px solid rgb(85, 147, 241);
}
  
#title {
    position: sticky;
    top: 0%;
}